@layout Layout.DashboardLayout

@page "/user-profile"
@rendermode InteractiveServer

<div class="info-container">
    <div class="header-info">
        <h1>Hello, @userName    </h1>
        <a>Personal Information</a>
    </div>
    <div class="body-info">
        <div>
            <a>First Name:</a>
            <p>@currentUser.FirstName</p>
            <a>Gender:</a>
            <p>@currentUser.Sex</p>
        </div>
        <div>
            <a>Last Name:</a>
            <p>@currentUser.LastName</p>
            <a>Date of Birth:</a>
            <p>@currentUser.DateOfBirth</p>
        </div>
        <div>
            <a>Middle Name:</a>
            @if(currentUser.MiddleName is null)
            {
                <p>N/A</p>
            } else
            {
                <p>@currentUser.MiddleName</p>
            }
        </div>
    </div>
</div>

<div class="otherInfo-container">
    <div class="content-layout">
        <p>Email Address</p>
        <div>
            <p>oneautumnleaf@gmail.com</p>
        </div>
        <button @onclick="editEmail">Edit Email Address</button>
    </div>
    <div class="content-layout">
        <p>Password</p>
        <div>
            <p>test******</p>
        </div>
        <button @onclick="editPassword">Edit Password</button>
    </div>
</div>

<div class="overlay @emailOverlay">
    <div class="edit-detail">
        <div class="edit-header">
            <p>New Email Address</p>
            <button @onclick="closeEditEmail" class="closeBtn">X</button>
        </div>
        <input type="email" placeholder="Enter your new email address"/>
        <button>Confirm</button>
    </div>
</div>

<div class="overlay @passwordOverlay">
    <div class="edit-detail">
        <div class="edit-header">
            <p>New Password</p>
            <button @onclick="closeEditPassword" class="closeBtn">X</button>
        </div>
        <input type="text" placeholder="Enter your new password" />
        <button>Confirm</button>
    </div>
</div>