<div class="workout-container">
    <header>
        <label>@Exercise.Name</label>
        <button @onclick="CompleteExercise" id="mark-as-done" title="Mark as done"></button>
        <button @onclick="DeleteExercise" id="show-info" title="Cancel Workout"></button>
    </header>
    <div class="details-layout">
        <div>
            <label class="exercise-type">@Exercise.Name </label>
        </div>
        <div>
            <p>Exercise Type:</p>
            <a>@Exercise.Type</a>
            <p>Equipment Needed:</p>
            <a>@Exercise.Equipments</a>
        </div>
        <div>
            <p>Exercise Difficulty:</p>
            <a>@Exercise.Difficulty.ToString()</a>
            <p>Exercise Target:</p>
            <a>@Exercise.TargetMuscleGroup</a>
        </div>
        <div>
            <p>Typical Reps / Sets:</p>
            <a>@Exercise.MinReps - @Exercise.MaxReps / @Exercise.MinSets - @Exercise.MaxSets</a>
            <p>Type Duration:</p>
            <a>@Exercise.MinDurationMinutes - @Exercise.MaxDurationMinutes</a>
        </div>
    </div>
</div>
