<div class="container">
    <div class="name-container">
        <h1>@Exercise.Name</h1>
        <button>+ Add to Workouts</button>
    </div>
    <div class="exercise-details">
        <p>Exercise Type:</p>
        <a>@Exercise.Type</a>
        <p>Exercise Needed:</p>
        <a>@Exercise.EquipmentNeeded</a>
    </div>
    <div class="exercise-details">
        <p>Exercise Difficulty:</p>
        <a>@Exercise.Difficulty.ToString()</a>
        <p>Exercise Target:</p>
        <a>@Exercise.TargetMuscleGroup</a>
    </div>
    <div class="exercise-details">
        <p>Typical Reps/Hold:</p>
        <a>@Exercise.Reps</a>
        <p>Typical Duration::</p>
        <a>@Exercise.Duration</a>
    </div>
    <div class="design-line"></div>
</div>