@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="container">
    <div class="name-container">
        <a>@Exercise.Name</a>
        <button @onclick="RunButton">+ Add to Workouts</button>

    </div>
    <div class="exercise-details">
        <p>Exercise Type:</p>
        <a>@Exercise.Type</a>
        <p>Exercise Needed:</p>
        <a>@Exercise.EquipmentNeeded</a>
    </div>
    <div class="exercise-details">
        <p>Exercise Difficulty:</p>
        <a>@Exercise.Difficulty.ToString()</a>
        <p>Exercise Target:</p>
        <a>@Exercise.TargetMuscleGroup</a>
    </div>
    <div class="exercise-details">
        <p>Typical Reps/Hold:</p>
        <a>@Exercise.MinReps - @Exercise.MaxReps</a>
        <p>Typical Duration:</p>
        <a>@Exercise.MinDurationMinutes - @Exercise.MaxDurationMinutes</a>
    </div>
    <div class="design-line"></div>
</div>